form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  height: 296px;
  padding: 24px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;

  flex-shrink: 0;
}

input {
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
}

input:hover {
  border-radius: 4px;
  border: 1px solid #000;
}

input:placeholder-shown {
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}

textarea {
  resize: none;
  width: 360px;
  height: 80px;
}

button {
  width: 95px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  background-color: #4e75ff;
  margin-top: 8px;
}

button:hover {
  background-color: #6c8cff;
}
