/**
  |============================
  | include css partials with
  | default @import url()
  |============================

@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');*/

.gallery-image {
  transform: scale(1);
  transition: transform 0.25s ease-out;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  max-width: 1440px;
  padding: 24px 0;
  margin: 0 auto;
}

.gallery-image {
  transform: scale(1);
  transition: transform 250ms ease-out;
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}

.simple-lightbox {
  background: rgba(46, 47, 66, 0.8);
}

.simple-lightbox button.sl-close,
.simple-lightbox .sl-navigation button.sl-prev,
.simple-lightbox .sl-navigation button.sl-next {
  color: #fff;
}

div.simple-lightbox div.sl-counter {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 408px;
  height: 296px;
  padding: 24px;
}
label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2e2f42;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;

  flex-shrink: 0;
}

input {
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
}

input:hover {
  border-radius: 4px;
  border: 1px solid #000;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  /**font-synthesis: none;*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*-webkit-text-size-adjust: 100%;*/
}
